.is-layered {
    position: relative;
}

.is-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.is-foreground {
    z-index: 1;
}

@each $name, $triple in $colors-shades {
    $shades: nth($triple, 3);
    $color-dark: nth($shades, 1);

    .hero.is-layered.is-#{$name} .is-background svg {
        height: 100vh;
        fill: $color-dark;
        stroke: $color-dark;
    }
}

@each $name, $pair in $colors {
    $color: nth($pair, 1);

    .hero.is-#{$name} .scifi-bio-thumbnail {
        &:hover,
        &:focus {
            background-color: lighten($color, 10%);
        }
    }
}

.scifi-bio-thumbnail {
    align-items: center;

    + .scifi-bio-thumbnail {
        padding-top: 0;
        border-top: 0;
    }
}
