.bg-primary {
    color: white;
    background-color: $color-primary !important;
}

.bg-secondary {
    color: white;
    background-color: $color-secondary !important;
}

.bg-tertiary {
    color: white;
    background-color: $color-tertiary !important;
}

.bg-dark {
    color: white;
    background-color: $color-grey-dark !important;
}
