.bg-light {
    color: black;
    background-color: white !important;
}

@each $name in 'dark' 'primary' 'secondary' 'tertiary' {
    .bg-#{$name} {
        color: white;
        background-color: map-get($color-map, $name) !important;
    }
}
