.btn {
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 300px;

    > img {
        margin-bottom: 10px;
    }

    > p {
        font-weight: normal;
        text-transform: none;
        margin-bottom: 0;
    }
}

.btn-sm {
    border-radius: 6px;
}

.btn-md {
    border-radius: 18px;
    padding: 8px 16px;
}

.btn-xl {
    padding: 15px 30px;
}

@each $name in 'default' 'primary' 'secondary' 'tertiary' {
    .btn-#{$name} {
        @include button-variant(white, map-get($color-map, $name), map-get($color-map, $name));

        &.light {
            @include button-variant(map-get($color-map, $name), white, white);
            text-decoration: none;
        }
    }

    .btn-#{$name}-outline {
        @include button-outline-variant(map-get($color-map, $name));

        &.light {
            color: white;
            border-color: white;

            &:hover,
            &:focus {
                color: map-get($color-map, $name);
                background-color: white;
            }
        }
    }
}
