.scifi-footer-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: white;
    z-index: 1000;

    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        .tabs > ul > li.is-#{$name} {
            background-color: $color;

            > a {
                color: $color-invert;

                &:hover,
                &:focus {
                    color: $grey-light;
                }
            }
        }
    }
}

.scifi-hero-title {
    &.hero-head {
        margin-top: 1.5em;
    }

    .title {
        margin-bottom: 0.3em;
    }

    hr {
        max-width: 70px;
        border: 0.15em solid $border;
        border-radius: 0.2em;
    }
}

.layered {
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    img,
    svg {
        height: 100vh;
    }
}

.foreground {
    z-index: 1;
}

.hero-foot:last-child {
    // 41px is just the calculated height of the footer navbar; it's a hack
    padding-bottom: calc(1em + 41px);
}

@each $name, $color-dark in (
    "primary": $primary-darker,
    "complement": $complement-darker,
    "secondary": $secondary-darker,
    "subcomplement": $subcomplement-darker,
) {
    .hero.layered.is-#{$name} .background svg {
        fill: $color-dark;
        stroke: $color-dark;
    }
}


.enormous {
    font-size: 6em;
    font-weight: $weight-bold;
}

// Hackery; the "correct" solution is probably to make SVGs out of the quotes.
.top-right-quote {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 0;
    margin-top: -0.75rem;
}

.bottom-left-quote {
    display: flex;
    align-items: flex-end;
    padding-bottom: 0;
    margin-bottom: -2.5rem;
}

.bio-thumbnail {
    // Duct tape
    @include tablet {
        margin: 1rem auto;
    }
}

.hero-body.scifi-bio {
    background-color: $secondary;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    > .container {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    + .hero-foot {
        margin-top: 1rem;
    }

    h1,
    h2,
    h3,
    h4
    h5,
    h6 {
        color: white !important;
    }

    img {
        max-height: 384px;
        object-fit: contain;
    }
}

@each $name, $pair in $colors {
    $color: nth($pair, 1);

    .hero.is-#{$name} .bio-thumbnail {
        &:hover,
        &:focus {
            cursor: pointer;
            background-color: lighten($color, 10%);
        }
    }
}
