.smooth-scroll {
    scroll-behavior: smooth;
}

.masthead {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: white;
    // TODO: Need to create a URL rule for this
    background-image: url('../img/header.jpg');
    background-position: center;
    background-size: cover;

    .header-content {
        position: relative;
        width: 100%;
        padding: 100px 15px;
        text-align: center;

        .header-content-inner {
            h1 {
                font-size: 30px;
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 0;
                text-transform: uppercase;
            }

            hr {
                margin: 30px auto;
            }

            p {
                font-size: 16px;
                font-weight: 300;
                margin-bottom: 50px;
                color: fade-out(white, 0.3);
            }
        }
    }

    @media (min-width: 768px) {
        height: 100%;
        min-height: 600px;

        .header-content {
            position: absolute;
            top: 50%;
            padding: 0 50px;
            transform: translateY(-50%);

            .header-content-inner {
                max-width: 1000px;
                margin-right: auto;
                margin-left: auto;

                h1 {
                    font-size: 50px;
                }

                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
    }
}

section {
    min-height: 100vh;
}

.section-heading {
    margin-top: 25px;
}

.bio-btn {
    width: 100%;
    margin-bottom: 20px;

    overflow-wrap: break-all;
    // I have no idea why this works
    white-space: normal;
}

.bio-thumbnail {
    width: 125px;
    height: 125px;
    object-fit: contain;
}

.bio-image-column {
    @media (max-width: map-get($grid-breakpoints, 'lg')) {
        max-height: 225px;
    }
}

.bio-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin-left: 10px;
    margin-bottom: 10px;

    @media (max-width: map-get($grid-breakpoints, 'md')) {
        margin-left: 0;
        margin-bottom: 0;
    }
}

.card-block {
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 20px;
}
