.has-border {
    border-width: 0.5em;
    border-color: white;
    border-style: solid;

    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        &.is-#{$name} {
            border-color: $color;
        }
    }
}

.is-bold {
    font-weight: $weight-bold !important;
}

.is-circle {
    border-radius: 290486px;
}

.is-pulled-left-tablet {
    @media screen and (min-width: $tablet) {
        float: left !important;
    }
}

.is-pulled-right-tablet {
    @media screen and (min-width: $tablet) {
        float: right !important;
    }
}

.image.is-centered {
    > svg,
    > img {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}
