// Custom modal (lightbox) implementation without JS
// See, e.g., https://developer.mozilla.org/en-US/docs/Web/CSS/:target
.scifi-modal {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    padding: 67px 12px 50px 83%;
    overflow: hidden;
    color: #ffffff;
    transition: visibility 0s $transition-time, opacity $transition-time linear;
    z-index: 15;
}

.scifi-modal-content {
    position: absolute;
    background: white;
    left: 50%;
    top: 50%;
    width: auto;
    height: auto;
    overflow: auto;
    transform: translate(-50%, -75%);
    z-index: 20;
    border-radius: 5px;
    color: black;
    transition: transform $transition-time linear;

    @media (max-width: map-get($grid-breakpoints, 'lg')) {
        // Apparently 48px is navbar height on mobile
        max-width: 100vw;
        max-height: calc(100vh - 48px);
        top: 48px;
        left: 0;
        transform: none;

        p {
            font-size: 10pt;
            margin-bottom: 0;
        }
    }
}

.scifi-modal:target {
    visibility: visible;
    opacity: 1;
    transition: opacity $transition-time linear;

    .scifi-modal-content {
        transform: translate(-50%, -50%);
        transition: transform $transition-time linear;

        @media (max-width: map-get($grid-breakpoints, 'lg')) {
            transform: none;
        }
    }
}

.scifi-modal-header {
    border-bottom: 1px solid $color-grey-light;
    border-radius: 5px 5px 0 0;
}

.scifi-modal-footer {
    border-top: 1px solid $color-grey-light;
    border-radius: 0 0 5px 5px;
}

.scifi-modal-body,
.scifi-modal-header,
.scifi-modal-footer {
    padding: 10px;
}

.scifi-modal-title {
    margin-bottom: 0;
}

.scifi-modal-close {
    float: right;
    opacity: 0.5;

    &:hover,
    &:focus {
        text-decoration: none;
        opacity: 0.75;
    }
}
