.scifi-navbar {
    background-color: fade-out(white, 0.1);

    box-shadow: 0 1px $color-primary;

    .navbar-brand,
    .nav-link {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .navbar-brand {
        color: $color-primary;

        &:hover,
        &:focus {
            color: darken($color-primary, 0.1);
        }
    }

    .nav-link {
        color: $color-grey;

        &:hover,
        &:focus {
            color: $color-primary;
        }
    }
}

.navbar > input {
    display: none;

    &:checked ~ .collapse {
        display: block;
    }
}
