@import 'font-awesome/font-awesome';
@import 'bulma/sass/utilities/initial-variables';

$blue: hsl(225, 80%, 45%);
$green: hsl(150, 90%, 30%);
$orange: hsl(12, 100%, 45%);
$purple: hsl(280, 70%, 30%);

@import 'bulma/sass/utilities/functions';
@import 'bulma/sass/utilities/derived-variables';

$primary: $purple;
$secondary: $orange;
$tertiary: $blue;

$primary-invert: $purple-invert;
$secondary-invert: $orange-invert;
$tertiary-invert: $blue-invert;

$colors: map_merge($colors, (
    "primary": ($primary, $primary-invert),
    "secondary": ($secondary, $secondary-invert),
    "tertiary": ($tertiary, $tertiary-invert),
));

$title-size: $size-2;

$radius: 290486px;
$radius-small: $radius;
$radius-large: $radius;

@import 'bulma/bulma';

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}

hr {
    box-sizing: border-box;
    margin: 0.75em auto;
}

p + p {
    margin-bottom: 1em;
}

.is-uppercase {
    text-transform: uppercase;
}

.button {
    height: auto;
    width: auto;
    padding: 0.5em 1.5em;
    text-transform: uppercase;
    font-weight: $weight-bold;
}

h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
    font-weight: $weight-bold;   
}

.hero.is-fullheight > .hero-body {
    padding-top: 0.5em;
    padding-bottom:1.5em;

    @include tablet {
        padding-top: 0;
        padding-bottom: 0;
    }
}

// Bulma assumes that an "a" inside a hero is a tab or such.
// We are sort of abusing heros, so we must fix this.
.hero p > a {
    text-decoration: underline;

    &:hover,
    &:focus {
        color: $grey-lighter !important;
    }
}

@import 'home';
