{% extends 'base.html' %}
{% load static %}
{% load post %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-three-quarters">
                    <div class="content">
                        <p>{{post.content|forward_blog_links}}</p>
                        <p>
                            {% for tag in post.tags %}
                                {% post_tag tag %}
                            {% endfor %}
                        </p>
                        <hr/>
                    </div>
                    <div class="media">
                        {% if author_thumbnail %}
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img class="is-circle" src="{% static author_thumbnail %}"/>
                                </p>
                            </figure>
                        {% endif %}
                        <div class="media-content">
                            <span class="content">
                                <p><i>
                                    Posted {{post.date|format_post_time}} by {% post_author post.author %}
                                    {% if post.categories %}
                                        in {% category_list post.categories %}
                                    {% endif %}
                                    {% if post.modified %}
                                        <br/>
                                        Last updated {{post.modified|format_post_date}} at {{post.modified|format_post_time}}
                                    {% endif %}
                                </i></p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="content">
                        <h3 class="title is-4"><b>More news</b></h3>
                        {% for other_post in other_posts %}
                            <p>
                                <b><a href="{{other_post.permalink}}">{{other_post.title}}</a></b>
                                <br/>
                                {{other_post.date|format_post_date}}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
