{% extends 'base.html' %}
{% load article %}
{% load image %}

{% block content %}
    <section class="section">
        <div class="container">
            {% article_breadcrumb article.name %}
            <div class="columns">
                <div class="column is-two-thirds">
                    <div class="content">
                        <h2>Our mission</h2>
                        <p>The <b>Scientific Coat Initiative for Future Innovators</b> promotes students’ scientific passions for higher education, provides teachers the resources necessary for hands-on scientific instruction, encourages the growth of mentor-mentee relationships, and fosters a visible community supporting young scientists’ endeavors.</p>
                        <p>We achieve these goals by partnering with corporate and academic sponsors who endorse the purchase of laboratory coats emblazoned with the sponsors’ logos. We then distribute these coats to qualifying under-resourced schools, along with other materials intended to aid educators in taking on a hands-on approach to scientific instruction.</p>
                        <p>Our motivation as a non-profit organization stems from our early exposure to science, which ultimately inspired us to pursue scientific educations and careers. Thus, our goal is to empower and inspire future generations of scientists by providing K–12 students the necessary tools to develop fundamental scientific reasoning, address societal problems, and move onto further scientific instruction.</p>
                    </div>
                </div>
                <div class="column is-hidden-mobile">
                    {% include 'about/partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
    <figure class="hero is-subcomplement is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h2 class="title">How it works</h2>
                <div class="is-hidden-mobile">
                    {% svg 'img/scifi-cycle.svg' %}
                </div>
                <div class="columns is-hidden-tablet">
                    <div class="column">
                        <div class="media">
                            <figure class="media-left">
                                <p class="image is-128x128 is-circle has-border">
                                    {% svg 'img/sponsor.svg' %}
                                </p>
                            </figure>
                            <div class="media-content">
                                <h3 class="title is-5 is-marginless"><strong>Sponsors</strong></h3>
                                <p>Sponsors support their communities by purchasing laboratory coats emblazoned with their trademark logo, thus demonstrating their commitment to the scientists of the future.</p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="media">
                            <figure class="media-left">
                                <p class="image is-128x128 is-circle has-border">
                                    {% svg 'img/coat.svg' %}
                                </p>
                            </figure>
                            <div class="media-content">
                                <h3 class="title is-5 is-marginless"><strong>Lab coats</strong></h3>
                                <p>These coats represent the scientific community's support for the endeavors of young minds as they actively apply the scientific method in their education.</p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="media">
                            <figure class="media-left">
                                <p class="image is-128x128 is-circle has-border">
                                    {% svg 'img/school.svg' %}
                                </p>
                            </figure>
                            <div class="media-content">
                                <h3 class="title is-5 is-marginless"><strong>Schools</strong></h3>
                                <p>Schools receive enough coats to outfit one or more laboratory classrooms. Along with other materials we provide, these coats enable schools to teach science in an engaging, dynamic manner.</p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="media">
                            <figure class="media-left">
                                <p class="image is-128x128 is-circle has-border">
                                    {% svg 'img/student.svg' %}
                                </p>
                            </figure>
                            <div class="media-content">
                                <h3 class="title is-5 is-marginless"><strong>Students</strong></h3>
                                <p>Students run exciting experiments that challenge them to think critically like scientists. Our goal is for these students, inspired by their early experiences, to become the innovators and science advocates of tomorrow.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </figure>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-two-thirds">
                    <div class="content">
                        <h2>Who we are</h2>
                        <p>Project SCIFI is run by an incredible team of volunteer students and scientists who are passionate about their involvement in making scientific experiences available to youths everywhere. Our goal is to give every student the opportunity to see science with the same vigor and excitement we do.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <figure class="hero is-dark is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-centered">
                    <div class="column is-10">
                        <h3 class="title">Team members</h3>
                        <div class="columns is-multiline">
                            {% for member in members %}
                                <div class="column is-one-third">
                                    {% include 'partials/member-thumbnail.html' with member=member %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </figure>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-two-thirds">
                    <div class="content">
                        <h2>How you can take part</h2>
                        <p>Project SCIFI gives unique emblazoned lab coats and experiment guides to schools and provides individuals, industry, and higher learning institutes a direct way to give back to the communities which will power them in the future. To make it work, we need everyone to play a hand in the process! Here's how you can do your part.</p>
                        <h3>Sponsors</h3>
                        <p>For individuals who want to help purchase lab gear, we are currently grateful to accept donations through our <a href="https://www.gofundme.com/project-scifi-help-stem-education">GoFundMe page</a>.</p>
                        <p>If you represent a company, a research lab, or a university department, please <a href="{% url 'about/contact' %}">get in touch with us directly</a> and we can organize a lab coat purchase with your name and logo emblazoned.</p>
                        <h3>Schools</h3>
                        <p>Project SCIFI is always on the lookout for schools whom we can partner with to bring hands-on science experiences to classrooms. <a href="{% url 'about/contact' %}">Please send us a message</a> telling us more about your school and how we can help you.</p>
                        <h3>Volunteers</h3>
                        <p>Project SCIFI's membership is concentrated in the Bay Area and we currently are largely represented by UC Berkeley students and alumni. Interested candidates may find us recruiting on-campus near the start of a semester.</p>
                        <h3>Education promoters</h3>
                        <p>If you represent another organization which promotes science education in the Bay, we'd love to hear from you if youhave a unique idea for a partnership or you'd like to participate in a cross-promotion. Please <a href="{% url 'about/contact' %}">drop us a line</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section is-hidden-tablet">
        <div class="container">
            {% include 'about/partials/sidebar.html' %}
        </div>
    </section>
{% endblock %}
