{% load staticfiles %}

<!doctype html>
<html>

{% include 'partials/head.html' %}

    <body class="smooth-scroll">
        <nav class="navbar fixed-top navbar-toggleable-md scifi-navbar">
            <input type="checkbox" id="navbarToggle"/>
            <label for="navbarToggle" class="navbar-toggler navbar-toggler-right btn btn-primary-outline btn-sm">
                &#9776;
            </label>
            <a class="navbar-brand" href="{% url 'home' %}#">Project SCIFI</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#mission">Mission</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#how">How it works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Meet the team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#involvement">Get involved</a>
                    </li>
                </ul>
            </div>
        </nav>

        {% block content %}{% endblock %}
    </body>
