{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<nav class="scifi-footer-nav">
    <div class="tabs is-fullwidth">
        <ul>
            <li class="is-primary">
                <a href="/#">SCIFI</a>
            </li>
            <li class="is-secondary">
                <a href="/#mision">Mission</a>
            </li>
            <li class="is-tertiary">
                <a href="/#how">How it works</a>
            </li>
            <li class="is-dark">
                <a href="/#team">Our team</a>
            </li>
            <li class="is-success">
                <a href="/#involvement">Involvement</a>
            </li>
        </ul>
    </div>
</nav>

<section class="hero is-primary is-fullheight">
    <div class="hero-head">
        <header class='nav'>
            <div class="container">
                <div class="nav-left">
                    <a class="nav-item is-uppercase" href="/#"><strong>Project SCIFI</strong></a>
                </div>
                <div class="nav-right">
                    <a class="nav-item" href="/#">
                        <span class="icon">
                            <i class="fa fa-twitter"></i>
                        </span>
                    </a>
                    <a class="nav-item" href="/#">
                        <span class="icon">
                            <i class="fa fa-facebook"></i>
                        </span>
                    </a>
                    <a class="nav-item" href="https://github.com/project-scifi">
                        <span class="icon">
                            <i class="fa fa-github"></i>
                        </span>
                    </a>
                </div>
            </div>
        </header>
    </div>

    <div class="hero-body">
        <div class="container scifi-hero-title">
            <h1 class="title is-uppercase">Bringing lab gear to schools in need</h1>
            <hr/>
            <p class="subtitle"><strong>Project SCIFI</strong> works together with schools and sponsors to promote science education at American schools and expose students to real careers in science.</p>
            <a class="button is-primary is-inverted is-medium" href="#mission">Learn more</a>
        </div>
    </div>
</section>

<section class="hero is-secondary is-fullheight" id="mission">
    <div class="hero-head scifi-hero-title">
        <h2 class="title">Mission</h2>
        <hr/>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-desktop">
                <div class="column is-1 is-offset-2 top-right-quote is-hidden-mobile">
                    <h1 class="enormous">&ldquo;</h1>
                </div>
                <div class="column is-6 scifi-longquote">
                    <p>The <strong>Scientific Coat Initiative for Future Innovators</strong> promotes students’ scientific passions for higher education, provides teachers the resources necessary for hands-on scientific instruction, encourages the growth of mentor-mentee relationships, and fosters a visible community supporting young scientists’ endeavors.</p>
                    <p>We achieve these goals by partnering with corporate and academic sponsors who endorse the purchase of laboratory coats embroidered with the sponsors’ logos. We then distribute these coats to qualifying under-resourced schools, along with other materials intended to aid educators in taking on a hands-on approach to scientific instruction.</p>
                    <p>Our motivation as a non-profit organization stems from our early exposure to science, which ultimately inspired us to pursue scientific educations and careers. Thus, our goal is to empower and inspire future generations of scientists by providing K&ndash;12 students the necessary tools to develop fundamental scientific reasoning, address societal problems, and move on to further scientific instruction.</p>
                </div>
                <div class="column is-1 bottom-left-quote is-hidden-mobile">
                    <h1 class="enormous">&rdquo;</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot has-text-centered">
        <a class="button is-secondary is-inverted is-medium" href="#how">See how we do it</a>
    </div>
</section>

<section class="hero is-tertiary is-fullheight" id="how">
    <div class="hero-head scifi-hero-title">
        <h2 class="title">How it works</h2>
        <hr/>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">Coming soon!</h1>
        </div>
    </div>
    <div class="hero-foot has-text-centered">
        <a class="button is-tertiary is-inverted is-medium" href="#team">Meet the team</a>
    </div>
</section>

<section class="hero is-dark is-fullheight" id="team">
    <div class="hero-head scifi-hero-title">
        <h2 class="title">Our team</h2>
        <hr/>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">Coming soon!</h1>
        </div>
    </div>
    <div class="hero-foot has-text-centered">
        <a class="button is-dark is-inverted is-medium" href="#involvement">Become a part</a>
    </div>
</section>

<section class="hero is-success is-fullheight" id="involvement">
    <div class="hero-head scifi-hero-title">
        <h2 class="title">Get involved</h2>
        <hr/>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <div class="columns">
                        <div class="column is-one-third">
                            <h3 class="title">Sponsors</h3>
                        </div>
                        <div class="column">
                            <p>Are you ready to invest in the scientists of tomorrow? Contact us at <b>info@projectscifi.org</b> to see how you can make a difference in science education.</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="columns">
                        <div class="column is-one-third">
                            <h3 class="title">Schools</h3>
                        </div>
                        <div class="column">
                            <p>Looking to build your school’s science program or think that <strong>SCIFI</strong> could help motivate your students to pursue their scientific interests? <a class="is-normal-link" href="/#">Apply here!</a></p>
                        </div>
                    </div>
                    <hr/>
                    <div class="columns">
                        <div class="column is-one-third">
                            <h3 class="title">Join the team</h3>
                        </div>
                        <div class="column">
                            <p>Are you passionate about promoting science, bettering education, and working with like-minded scientists? <a class="is-normal-link" href="/#">Apply here</a> to become part of the initiative!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot has-text-centered">
        <h1 class="title">Thanks for supporting science education!</h1>
    </div>
</section>

{% endblock %}
