{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Bringing lab gear to schools in need</h1>
            <hr class="light"/>
            <p>Project SCIFI works together with schools and sponsors to promote science education at American schools and expose students to real careers in science.</p>
            <a class="btn btn-default btn-xl light sr-button" href="#mission">Learn more</a>
        </div>
    </div>
</header>

<section class="bg-primary important-section" id="mission">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2 class="section-heading">Mission</h2>
                <hr class="light"/>
                <p>The <b>Scientific Coat Initiative for Future Innovators</b> promotes students’ scientific passions for higher education, provides teachers the resources necessary for hands-on scientific instruction, encourages the growth of mentor-mentee relationships, and fosters a visible community supporting young scientists’ endeavors.</p>
                <p>We achieve these goals by partnering with corporate and academic sponsors who endorse the purchase of laboratory coats embroidered with the sponsors’ logos. We then distribute these coats to qualifying under-resourced schools, along with other materials intended to aid educators in taking on a hands-on approach to scientific instruction.</p>
                <p>Our motivation as a non-profit organization stems from our early exposure to science, which ultimately inspired us to pursue scientific educations and careers. Thus, our goal is to empower and inspire future generations of scientists by providing K-12 students the necessary tools to develop fundamental scientific reasoning, address societal problems, and further scientific instruction.</p>

                <a class="btn btn-primary btn-xl light sr-button" href="#how">See how it works</a>
            </div>
        </div>
    </div>
</section>

<section class="bg-secondary" id="how">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How it works</h2>
                <hr class="light"/>
                <h3>Sponsors</h3>
                <p>Sponsors support their communities by purchasing laboratory coats embroidered with their trademark logo, thus demonstrating their commitment to the scientists of the future.</p>
                <h3>Lab coats</h3>
                <p>Laboratory coats showcasing the sponsors’ logos provided by a single scholarship will impact numerous communities. Students will wear these coats as they actively apply the scientific method in their education.</p>
                <h3>Schools</h3>
                <p>Schools will receive enough coats to outfit one or more laboratory classrooms, in turn generating a sense of support from the scientific community. Schools will then use these coats along with other materials provided to teach science in an engaging, dynamic manner.</p>
                <h3>Students</h3>
                <p>Students, supported by the scientific community and outfitted with sponsored lab coats, will run exciting experiments that challenge them to think critically like scientists. We believe that these experiences will cultivate their interest in pursuing further scientific knowledge. Our hope is that these inspired students will go on to become future innovators and science advocates.</p>
                <a class="btn btn-secondary btn-xl light sr-button" href="#team">Meet the team</a>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Meet the team</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <!-- TODO: replace with flex box -->
    <div class="container">
        <div class="row">
            {% for member in members %}
                <div class="col-lg-3 text-center">
                    <a class="btn btn-default-outline btn-md light bio-btn" id="{{member.id}}" href="#{{member.id}}Modal">
                        <img class="bio-thumbnail" src="{% static member.thumbnail %}"></img>
                        <h5>{{member.name}}</h5>
                        <p>
                            {% if member.roles %}
                                {{member.roles|join:', '}}
                            {% else %}
                                Team member
                            {% endif %}
                        </p>
                    </a>
                </div>
                {% if forloop.counter1|divisibleby:4 and not forloop.last %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-lg-12 text-center">
            <a class="btn btn-default btn-xl light sr-button" href="#involvement">Become a part</a>
        </div>
    </div>
</section>

{% for member in members %}
    <div class="scifi-modal" id="{{member.id}}Modal" aria-hidden="true">
        <div class="scifi-modal-content container">
            <div class="scifi-modal-header">
                <a class="scifi-modal-close" href="#team" aria-label="Close">&times;</a>
                <h5 class="scifi-modal-title">{{member.name}}</h5>
            </div>
            <div class="scifi-modal-body row flex-wrap-reverse">
                <div class="col-lg">
                    <p>{{member.bio}}</p>
                </div>
                <div class="col-lg bio-image-column text-center">
                    <img class="bio-image" src="{% static member.image %}"></img>
                </div>
            </div>
            <div class="scifi-modal-footer">
                <a class="btn btn-sm btn-default-outline" href="#team">Close</a>
            </div>
        </div>
    </div>
{% endfor %}

<section class="bg-tertiary" id="involvement">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2 class="section-heading">Get involved</h2>
                <hr class="light">
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="card-block">
                    <h3 class="card-title">Sponsors</h3>
                    <p class="card-text">Are you ready to invest into the scientists of tomorrow? Contact us at <b>info@projectscifi.org</b> to see how you can make a difference in science education</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="card-block">
                    <h3 class="card-title">Schools</h3>
                    <p class="card-text">Looking to build your school’s science program or think that SCIFI could help motivate your students to pursue their scientific interests? Apply here!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="card-block">
                    <h3 class="card-title">Join the team</h3>
                    <p class="card-text">Are you passionate about promoting science, bettering education, and working with like-minded scientists? Apply here to become part of the initiative!</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
