{% extends 'info/article.html' %}

{% block title %}Contact us{% endblock %}

{% block article %}

<p>Have a question? Interested in working with us? Want to schedule a conversation? Here's how to get in touch.</p>

<h2>By email</h2>

<p>Our primary point of contact is our email address, <b>info@projectscifi.org</b>. If you have questions or you are thinking about getting involved, let us know in an email and we'll let you know where to go from there.</p>

<h2>By phone or video call</h2>

<p>We would love to have a live conversation with you! If you are interested in sponsoring or receiving lab coats, this is the fastest and easiest way to get things rolling. Please email us at <b>info@projectscifi.org</b> and let us know when you are available to talk with us.</p>

<h2>Through social media</h2>

<p>As a quick and easy alternative to email, you can also contact us on Facebook or Twitter to ask questions or schedule a conversation.</p>

<h2>By physical mail</h2>

<p>To get a physical address, please contact us at <b>info@projectscifi.org</b>.</p>

{% endblock %}
